@import '../../../public/assests/styles/buttons/b-buttons.scss';

.b-slide {
    display: flex;
    flex-direction: column;
    align-items: left;
    width:80%;

    &__container{
        padding: 1rem;
        border: 1px solid black;
        margin: 1rem 1rem 0 1rem;
        background-color: rgba(175, 112, 226, 0.144);
    }

    &__text{
        font: 1rem;
        color: rgb(53, 53, 53);

        &--bold{
            font-size: 1.3rem;
            font-weight: 600;
            color: rgb(160, 160, 9)
        }
       

    }

    &__img{
        width:50px
    }

    &__assets{
        display: flex;
        justify-content: space-around;
    }

}