$button-succes: #72bec2;
$button-succes-hover: #0c8a90;
$button-cancel: rgb(100, 49, 151);
$button-cancel-hover: rgb(64, 30, 97);

$form-title-background: rgb(100, 49, 151);
$form-title-text: rgb(255,255,255 );

$link-color: rgb(100, 49, 151);
$link-color-hover: rgb(51, 33, 70);